<h1>Sign-in</h1>

<div class = "container">
  <div class="row">

    <%= bootstrap_form_tag(url: sessions_path) do |f| %>
    
    <%= f.text_field :username, label: "Username" %>
    
    <%= f.password_field :password, label: "Password" %>
    
    <%= f.submit "Sign In"%>
    <% end %>

  </div>
</div>
