<!-- <h1>FixedPages#home</h1> -->
<!-- <p>Find me in app/views/fixed_pages/home.html.erb</p> -->
<h1> <%= current_user.username %></h1>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
</div>
